<!DOCTYPE html>
<html>
    <head>
        <title>SIDE API Backend</title>
    </head>

    <body>
        <h1>Register with SIDE API Backend</h1>

        {% if registered %}
            SIDE API Backend says: <strong>thank you for registering!</strong>
            <a href="{% url 'index' %}">Return to the homepage.</a><br />
        {% else %}
            SIDE API Backend says: <strong>register here!</strong><br />

            <form id="registration_form" method="post" action="{%  url 'register' %}"
                    enctype="multipart/form-data">

                {% csrf_token %}

                {{ registration_form.as_p }}

                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    </body>
</html>